<% layout('boilerplate/boilerplate') %>

<section>
  <div class="container red-lighten-3">
    <div class="row col s6 offset-3">
      <h3>Woops something went wrong...</h3>
      <!-- <h3 class="container white-text black-text"><%# err.message %></h3>
      <p class="container white-text black-text"><%# err.stack %></p> -->
    </div>
  </div>
</section>
